body {
    margin: 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    background: #FAF3FF;
    color: #333;
    font-size: 18px;
    line-height: 30px;
}

/* H*/
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
    border-bottom: 2px solid #E6D6F5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    flex-wrap: wrap;
}

.encabezado div a img {
    width: 120px;
    max-width: 100%;
    height: auto;
}

.encabezado nav {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.encabezado nav a {
    text-decoration: none;
    color: #333;
    font-size: 17px
}

.encabezado nav a:hover {
    color: #61378d;
    font-weight: 700;
}

.BotonIR {
    padding: 8px 14px;
    background: #61378d;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.BotonIR:hover {
    background-color: #61378d;
    box-shadow: 0 4px 12px rgba(255, 80, 220, 0.3);
}

/* I */
.cajaInicio {
    background: #61378d;
    color: white;
    height: 30rem;
    margin: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.cajaInicio img {
    height: 100%;
    width: auto;
    margin: 0;
}

.cajaInicio h1 {
    margin-bottom: 1.5rem;
    font-size: 65px;
    margin: 40px;
}

.cajaInicio h2 {
    margin-bottom: 1.5rem;
    font-size: 40px;
    font-weight: 300;
    margin: 40px;
}

.cajaInicio p{
    margin: 40px;
}

/* QS*/
.cajaSomos {
    background: #FAF3FF;
    margin: 50px 0 60px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cajaSomos img {
    height: 30rem;
    width: auto;
    margin-left: 60px;
}

.textoA {
    margin: 30px 50px;
    width: 450px;
    font-size: 19px;
}

.BotonInfo {
    background: #61378d;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.BotonInfo:hover {
    background-color: #61378d;
    box-shadow: 0 4px 12px rgba(255, 80, 220, 0.3);
}

/*  */
.Titulo {
    margin: 40px 25px 5px;
    font-size: 35px;
    font-weight: bold;
}

/* S */
.servicio {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 40px 22px;
}

.serv1 {
    width: 300px;
    text-align: center;
}

.tarjetaA {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.serv1 p {
    margin-top: 10px;
    font-size: 16px;
}

/* C */
.cajaCita {
    background: #ec680c;
    color: white;
    margin: 45px 0px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cajaCita img {
    height: 30rem;
    width: auto;
    margin-right: 100px;
}

.cajaCita div {
    width: 450px;
    font-size: 18px;
    margin: 30px;
}

.cajaCita h2 {
    margin-bottom: 1rem;
    font-size: 35px;
}

/* T*/
.tip {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 40px 29px;
}

.tip1 {
    width: 380px;
    text-align: center;
}

.tipImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.tip1 p {
    margin-top: 10px;
    font-size: 16px;
}

/* Cons */
.consultas {
    display: grid;
    margin: 40px;
    grid-template-columns: 50% 50%;
    padding: 30px;
    gap: 5px;
}
.part1{
    margin: 40px 100px;
}
.part1 img {
    width: auto;
    height: 33rem;
}
.part2{
    margin: 20px 50px;
}
.part2 h2 {
    font-size: 35px;
    margin: 20px 30px;
}

.formulario {
    display: grid;
    padding: 30px 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    gap: 6px;
}
#campo1{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 10px;
    width: 89%;
    height: 35px;
}
#campo2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 10px;
    width: 89%;
    height: 35px;
}
#campo3{
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 10px;
    width: 94%;
    height: 35px;
}
#campo4{
    grid-column: 1/3;
    grid-row: 3/4;
    margin-bottom: 10px;
    width: 94%;
    height: 35px;
}
#campo5{
    grid-column: 1/3;
    grid-row: 4/5;
    width: 94%;
}
input, textarea {
    padding: 5px 8px;
    border-radius: 22px;
    border: 2px solid #7f56d9;
    font-size: 16px;
}
textarea {
    height: 80px;
}
.BotonInfo1 {
    background: #61378d;
    margin: 2px 25px;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.BotonInfo1:hover {
    background-color: #7b4bad;
    box-shadow: 0 4px 12px rgba(255, 80, 220, 0.3);
}

/* PF */
.fin img{
    width: 100%;
    height: auto;
    margin-bottom: -9px;
}

/* F */
.pie {
    background: #61378d;
    padding: 25px 30px 15px;
    color: white;
}

.pie_texto {
    display: grid;
    gap: 50px;
    font-size: 20px;
    grid-template-columns: 1fr 1fr;
}

#imagenLogo2 {
    width: 165px;
}

.parte1 ul{
    margin: 55px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pie_lista {
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.pie_lista a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.pie_lista a:hover {
    font-weight: 600;
}

.final {
    text-align: center;
    font-size: 16px;
    margin: 15px 15px -10px;
    border-top: 1px solid rgb(127, 126, 126);
}

.footer {
    background-color: #61378d;
    color: white;
    padding: 30px 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.logo_M img {
    width: 120px;
    height: auto;
}

.par1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.par1 a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.par1 a:hover {
    font-weight: 600;
}

.par2 a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
